.main-sidebar {
    background-color: #344fa1;
}

.nav-pill .nav-link {
    color: white !important;
}

.table-user, .card-header {
    background: #344FA1;
    background: linear-gradient(90deg, rgba(52, 79, 161, 1) 50%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.content-wrapper {
    background-color: white !important;
}

.card-footer {
    background-color: transparent !important;
}

.swal-title-dark {
    color: #000 !important;
}

.action-buttons>* {
    margin-right: 5px;
    margin-bottom: 5px;
}

.action-buttons .btn i {
    pointer-events: none;
}

.table {
    font-size: 13px;
}

#accordion {
    width: 100%;
}

.card-link {
    color: #fff;
}

.card-link:hover {
    color: #fff;
}
