.main-sidebar {
    background-color: #344fa1;
}

.nav-pill .nav-link {
    color: white !important;
}

.table-user {
    background-color: #344fa1;
    color: white;
}

.content-wrapper {
    background-color: white !important;
}

.card-footer {
    background-color: transparent !important;
}

.swal-title-dark {
    color: #000 !important;
}

.action-buttons > * {
    margin-right: 5px;
    margin-bottom: 5px;
}

.action-buttons .btn i {
    pointer-events: none;
}

.table{
    font-size: 13px;
}