.main-sidebar {
    background-color: #344fa1; 
}

.nav-pill .nav-link {
    color: white !important;
}

.table-user {
    background-color: #344fa1;
    color: white;
}

.content-wrapper{
    background-color: white !important;
}

.card-footer{
    background-color: transparent !important;
}